body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

div.CalculationHeader
{
    height: 70px;
    background-color: #a5d181;
}

img.CalculationLogoImage
{
    padding-top: 25px;
    display: block;
    margin: auto;
}

div.CalculationTooltip2
{
    display: none;
}

span.CalculationTooltip
{
    display: none;
}

div.CalculationTooltip3
{
    display: none;
}

div.CalculationHeader:hover div.CalculationTooltip2
{
    display: block;
    height: 0;
    width: 0;
    left: 49%;
    top: 48px;
    position: absolute;
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid #6d6e6b;
}

div.CalculationHeader:hover span.CalculationTooltip
{
    font-weight: bold;
    font-size: 11px;
    display: block;
    height: 20px;
    width: 130px;
    border: solid;
    border-width: 1px;
    border-color: #6d6e6b;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    text-align: center;
    padding-top: 8px;
    left: 46%;
    top: 60px;
}

div.CalculationHeader:hover div.CalculationTooltip3
{
    display: block;
    height: 0;
    width: 0;
    left: 49%;
    top: 50px;
    position: absolute;
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid white;
}

hr.CalculationSeperatorLine
{
    border: 0;
    margin: 0;
    background: #6d6e6b;
    height: 2px;
}

div.CalculationMain
{
    height: 488px;
    background-image: url("../Resources/BG_tile_textil.png");
    color: black;
}

div.CalculationMain2
{
    height: 100%;
    background-image: url("../Resources/BG_gradlight.png");
    background-position: center;
    background-repeat: repeat-y;
}

div.CalculationSpace
{
    height: 30px;
}

div.CalculationPanel
{
    height: 428px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border: solid;
    border-width: 1px;
    border-color: #6d6e6b;
    border-radius: 8px;
    background-color: #ededed;
}

div.CalculationArea
{
    /*margin: 20px;*/
    padding: 20px;
}

label.Label
{
    float: left;
    padding-top: 5px;
}

input.TextBox
{
    float: right;
    height: 22px;
    width: 110px;
    border-width: 1px;
    border-color: #b3b3b3;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

input.Button
{
    background-image: linear-gradient(#a1d181, #7a9762);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:hover
{
    background-image: linear-gradient(#5f7f46, #5f7f46);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:active
{
    background-image: linear-gradient(#7a9762, #a1d181);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

input.Button:disabled
{
    background-image: linear-gradient(#a4a4a4, #505050);
    color: #ffffff;
    border-width: 1px;
    border-color: #808080;
}

label.CalculationTitleLabel
{
    height: 28px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    display: block;
}

hr.CalculationUnderLine
{
    border: 0;
    height: 2px;
    margin: 0;
    background: #a5d181;
}

form.CalculationForm
{
    padding-top: 24px;
}

div.FirstOperandContainer
{
    height: 24px;
    margin-bottom: 5px;
}

label.FirstOperandLabel
{
    margin-right: 40px;
    font-weight: normal;
}

img.FirstOperandErrorImage
{

}

input.FirstOperandTextBox
{
    
}

div.SecondOperandContainer
{
    height: 24px;
    margin-bottom: 24px;
}

label.SecondOperandLabel
{
    margin-right: 17px;
    font-weight: normal;
}

img.SecondOperandErrorImage
{

}

input.SecondOperandTextBox
{
    
}

input.CalculationCalculateButton
{
    height: 20px;
    width: 100px;
    margin-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.SumContainer
{
    height: 24px;
    margin-bottom: 169px;
}

label.SumLabel
{
    font-weight: normal;
}

input.SumTextBox
{
    
}

input.ResetButton
{
    height: 20px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.CalculationFooter
{
    height: 28px;
    background-color: #6d6e6b;
    color: white;
}

div.CalculationCredits
{
    padding-top: 8px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.CalculationName
{
    float: left;
    font-weight: bold;
}

div.CalculationYear
{
    float: right;
    font-weight: bold;
}