
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Adatbevitel</title>
        <link href="~/Content/CalculationStyle.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="CalculationHeader">
            <img src="~/Resources/Logo.png" class="CalculationLogoImage" />
            <div class="CalculationTooltip2"></div>
            <span class="CalculationTooltip">Just A Test</span>
            <div class="CalculationTooltip3"></div>
        </div>
        <hr class="CalculationSeperatorLine" />
        <div class="CalculationMain">
            <div class="CalculationMain2">
                <div class="CalculationSpace"></div>
                <div class="CalculationPanel">
                    <div class="CalculationArea">
                        <label class="CalculationTitleLabel">Összeadás</label>
                        <hr class="CalculationUnderLine" />
                        <form class="CalculationForm">
                            <div class="FirstOperandContainer">
                                <label class="FirstOperandLabel Label">Első érték</label>
                                <img src="~/Resources/Error.png" class="FirstOperandErrorImage" id="FirstOperandErrorImage" hidden />
                                <input type="text" value="" class="FirstOperandTextBox TextBox" name="firstOperand" id="FirstOperandTextBox" onkeyup="textbox1OnChange()" />
                            </div>
                            <div class="SecondOperandContainer">
                                <label class="SecondOperandLabel Label">Második érték</label>
                                <img src="~/Resources/Error.png" class="SecondOperandErrorImage" id="SecondOperandErrorImage" hidden />
                                <input type="text" value="" class="SecondOperandTextBox TextBox" name="secondOperand" id="SecondOperandTextBox" onkeyup="textbox2OnChange()" />
                            </div>
                            <input type="button" value="Számol" class="CalculationCalculateButton Button" id="CalculationCalculateButton" onclick="button1OnClick()" disabled />
                            <div class="SumContainer">
                                <label class="SumLabel Label">Végeredmény</label>
                                <input type="text" value="" class="SumTextBox TextBox" name="sumOperand" id="SumTextBox" />
                            </div>
                            <input type="button" value="Törlés" class="ResetButton Button" id="ResetButton" onclick="button2OnClick()" disabled />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="CalculationFooter">
            <div class="CalculationCredits">
                <div class="CalculationName">Kóder Károly</div>
                <div class="CalculationYear">@DateTime.Now.Year</div>
            </div>
        </div>
        <script src="~/Scripts/CalculationScript.js"></script>
    </body>
</html>
